version: "3.8"

services:
  hive-metastore:
    image: apache/hive:3.1.3
    container_name: hive-metastore
    depends_on:
      metastore-db:
        condition: service_healthy
    entrypoint: ["/bin/bash","-lc"]
    command: ["bash /opt/hive/scripts/start-metastore.sh"]
    environment:
      # (Opcional, ajuda a documentar e algumas imagens usam)
      HIVE_JDBC_URL: jdbc:postgresql://metastore-db:5432/metastore
      HIVE_DB_USER: hive
      HIVE_DB_PASSWORD: hive
      HIVE_METASTORE_PORT: "9083"
      HIVE_METASTORE_URIS: thrift://0.0.0.0:9083
    ports:
      - "9083:9083"
    healthcheck:
      test: ["CMD-SHELL","bash -lc 'exec 3<>/dev/tcp/127.0.0.1/9083 && echo ok || exit 1'"]
      interval: 10s
      timeout: 5s
      retries: 30
    volumes:
      # Somente o driver do Postgres e o script. NADA de hive-site.xml aqui.
      - ./hive/lib/postgresql-42.7.4.jar:/opt/hive/lib/postgresql-42.7.4.jar:ro
      - ./hive/scripts/start-metastore.sh:/opt/hive/scripts/start-metastore.sh:ro

  trino:
      volumes:
        - ./trino/etc:/etc/trino
        - ./hadoop/core-site.xml:/etc/hadoop/conf/core-site.xml:ro
        #- ./hive/lib/hadoop-aws-3.1.0.jar:/usr/lib/trino/plugin/hive/hadoop-aws-3.1.0.jar
        #- ./hive/lib/aws-java-sdk-bundle-1.11.375.jar:/usr/lib/trino/plugin/hive/aws-java-sdk-bundle-1.11.375.jar

  mc:
    depends_on:
      minio:
        condition: service_started
    entrypoint:
      - /bin/sh
      - -c
      - |
        until (/usr/bin/mc alias set myminio http://minio:9000 cursolab cursolab) do sleep 1; done;
        /usr/bin/mc mb myminio/raw || true;
        /usr/bin/mc event add myminio/raw arn:minio:sqs::EventKafka:kafka --event put --suffix .csv || true;
        sleep 3000

  minio:
    environment:
      MINIO_ROOT_USER: cursolab
      MINIO_ROOT_PASSWORD: cursolab